.app {
    text-align: center;
    font-family: Arial, sans-serif;
  }
.flashcard {
    perspective: 1000px;
    width: 200px;
    height: 300px;
    margin: 10px;
    cursor: pointer;
  }
  .flashcard-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Change from 'center' to 'flex-start' */
    flex-wrap: wrap; /* Allow wrapping to multiple lines */
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container */
    padding-top: 20px; /* Add some top padding to create space from the navbar */
  }
  
  
  .flashcard-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .flashcard-front,
  .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f0;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .flashcard-back {
    transform: rotateY(180deg);
    background-color: #a0d2eb;
  }

.mcq {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
  }
  
  .mcq-question {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mcq-options {
    list-style-type: none;
    padding: 0;
  }
  
  .mcq-options li {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .mcq-options li.correct {
    background-color: #b9e58c; /* Highlight color for correct option */
  }
  
  .mcq-options li.incorrect {
    background-color: #ffb3b3; /* Highlight color for incorrect option */
  }
  
  .mcq-options li:hover {
    background-color: #f0f0f0;
  }
  
  
  .mcq-options li:hover {
    background-color: #f0f0f0;
  }
  